[submodule "lib/otf2xx"]
	path = lib/otf2xx
	url = https://github.com/tud-zih-energy/otf2xx.git
[submodule "lib/nitro"]
	path = lib/nitro
    url = https://github.com/Daddelhai/nitro.git
    branch = issue22-2
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
