name: Build

on: [push, pull_request]

env:
  OTF2_VERSION: 2.2

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        compiler: [g++-8, g++-9, g++-10, clang++-8, clang++-9, clang++-10]
        include:
          - os: ubuntu-16.04
            compiler: g++-8
          - os: ubuntu-16.04
            compiler: g++-9
          - os: ubuntu-16.04
            compiler: clang++-8
          - os: ubuntu-16.04
            compiler: clang++-9

    runs-on: ${{ matrix.os }}
          
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get install libboost-all-dev binutils-dev libiberty-dev
        sudo pip install git-archive-all
    - name: Cache OTF2
      id: cache-otf2
      uses: actions/cache@v2
      with:
        path: /opt/otf2/
        key: ${{ matrix.os }}-otf2
    - name: Install OTF2
      if: steps.cache-otf2.outputs.cache-hit != 'true'
      run: | 
        wget https://www.vi-hps.org/cms/upload/packages/otf2/otf2-${OTF2_VERSION}.tar.gz
        tar -xf otf2-${OTF2_VERSION}.tar.gz
        cd otf2-${OTF2_VERSION}
        ./configure --prefix=/opt/otf2
        make -j2 install
    - name: Run CMake configure
      env:
        CXX: ${{ matrix.compiler }}
      run: cmake .
    - name: Build
      run: make -j
    - name: Create source tarball
      if: ${{ matrix.compiler ==  "g++-10" }}
      run: make dist
    - uses: actions/upload-artifact@v2
      if: ${{ matrix.compiler ==  "g++-10" }}
      with:
        path: lo2s*.tar.bz2
