name: Build

on: [push, pull_request]

env:
  OTF2_VERSION: "3.1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        compiler: [g++-12, g++-13, g++-14, clang++-16, clang++-17, clang++-18]
        build-type: [Debug, RelWithDebInfo]
        hw_breakpoint: [ON, OFF]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libelf-dev libdw-dev libsensors-dev libpfm4-dev libaudit-dev libcupti-dev rocprofiler-sdk nvidia-cuda-dev libradare2-dev
          sudo pip install git-archive-all
      - name: Cache OTF2
        id: cache-otf2
        uses: actions/cache@v4
        with:
          path: /opt/otf2/
          key: ${{ matrix.os }}-otf2-${OTF2_VERSION}
      - name: Install OTF2
        if: steps.cache-otf2.outputs.cache-hit != 'true'
        run: |
          wget https://perftools.pages.jsc.fz-juelich.de/cicd/otf2/tags/otf2-${OTF2_VERSION}/otf2-${OTF2_VERSION}.tar.gz
          tar -xf otf2-${OTF2_VERSION}.tar.gz
          cd otf2-${OTF2_VERSION}
          ./configure --prefix=/opt/otf2
          make -j2 install
      - name: Run CMake configure
        env:
          CXX: ${{ matrix.compiler }}
        run: cmake . -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DUSE_HW_BREAKPOINT_COMPAT=${{ matrix.hw_breakpoint }}} -DLO2S_TESTS_MAY_SKIP=ON
      - name: Build
        run: make -j 2
      - name: Create source tarball
        if: ${{ matrix.compiler == 'g++-12' && matrix.os == 'ubuntu-24.04' && matrix.build-type == 'RelWithDebInfo' && matrix.hw_breakpoint == 'ON' && github.event_name != 'pull_request'}}
        run: make dist
      - uses: actions/upload-artifact@v4
        if: ${{ matrix.compiler == 'g++-12' && matrix.os == 'ubuntu-24.04' && matrix.build-type == 'RelWithDebInfo' && matrix.hw_breakpoint == 'ON' && github.event_name != 'pull_request'}}
        with:
          overwrite: true
          path: lo2s*.tar.bz2
      - name: Test
        timeout-minutes: 5
        run: sudo PATH="/opt/otf2/bin:$PATH" ctest --output-on-failure
