name: Build

on: [push, pull_request]

env:
  OTF2_VERSION: "3.1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        compiler: [g++-12, g++-13, g++-14, clang++-16, clang++-17, clang++-18]
        build-type: [Debug, RelWithDebInfo]
        hw_breakpoint: [OFF]
        nvidia: [ OFF ]
        rocm: [ OFF ]
        include:
# One build with everything
          - os: ubuntu-24.04
            compiler: clang++-18
            build-type: Debug
            hw_breakpoint: OFF
            nvidia: ON
            rocm: ON
          - os: ubuntu-24.04
            compiler: clang++-18
            build-type: Debug
            hw_breakpoint: ON
            nvidia: OFF
            rocm: OFF
          - os: ubuntu-24.04-arm
            compiler: clang++-18
            build-type: Debug
            hw_breakpoint: OFF
            nvidia: OFF
            rocm: OFF

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libelf-dev libdw-dev libsensors-dev libpfm4-dev libaudit-dev libomp-dev libbpf-dev libdebuginfod-dev linux-tools-azure libc6-dev meson nlohmann-json3-dev
          sudo pip install git-archive-all
      - name: Install CUPTI
        if: matrix.nvidia == 'ON'
        run: |
          sudo apt-get install libcupti-dev nvidia-cuda-toolkit nvidia-cuda-dev
      - name: Install ROCm
        if : matrix.rocm == 'ON'
        run: |
          sudo mkdir --parents --mode=0755 /etc/apt/keyrings
          wget https://repo.radeon.com/rocm/rocm.gpg.key -O - | gpg --dearmor | sudo tee /etc/apt/keyrings/rocm.gpg > /dev/null
          sudo tee /etc/apt/sources.list.d/rocm.list << EOF
          deb [arch=amd64 signed-by=/etc/apt/keyrings/rocm.gpg] https://repo.radeon.com/rocm/apt/7.2 noble main
          deb [arch=amd64 signed-by=/etc/apt/keyrings/rocm.gpg] https://repo.radeon.com/graphics/7.2/ubuntu noble main
          EOF

          sudo tee /etc/apt/preferences.d/rocm-pin-600 << EOF
          Package: *
          Pin: release o=repo.radeon.com
          Pin-Priority: 600
          EOF

          sudo apt update
          sudo apt install rocprofiler-sdk rocprofiler rocm-device-libs rocm rocm-dev
      - name: Cache Radare
        id: cache-radare2
        uses: actions/cache@v4
        with:
          path: /opt/radare2/
          key: ${{ matrix.os }}-radare2
      - name: Install Radare
        if: steps.cache-radare2.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/radareorg/radare2/archive/refs/tags/5.9.8.tar.gz
          tar xf 5.9.8.tar.gz
          cd radare2-5.9.8
          meson build --prefix=/opt/radare2
          meson compile -C build
          meson install -C build
      - name: Cache OTF2
        id: cache-otf2
        uses: actions/cache@v4
        with:
          path: /opt/otf2/
          key: ${{ matrix.os }}-otf2
      - name: Install OTF2
        if: steps.cache-otf2.outputs.cache-hit != 'true'
        run: |
          wget https://perftools.pages.jsc.fz-juelich.de/cicd/otf2/tags/otf2-${OTF2_VERSION}/otf2-${OTF2_VERSION}.tar.gz
          tar -xf otf2-${OTF2_VERSION}.tar.gz
          cd otf2-${OTF2_VERSION}
          ./configure --prefix=/opt/otf2
          make -j2 install
      - name: Cache x86_adapt
        id: cache-x86_adapt
        uses: actions/cache@v4
        with:
          path: /opt/x86_adapt
          key: ${{ matrix.os }}-x86_adapt
      - name: Install x86_adapt
        if: steps.cache-x86_adapt.outputs.cache-hit != 'true' && matrix.os != 'ubuntu-24.04-arm'
        run: | 
          git clone https://github.com/tud-zih-energy/x86_adapt
          cd x86_adapt
          cmake . -DNO_KERNEL_DRIVER=ON -DCMAKE_INSTALL_PREFIX=/opt/x86_adapt
          make -j 2 install
      - name: Cache x86_energy
        id: cache-x86_energy
        uses: actions/cache@v4
        with:
          path: /opt/x86_energy
          key: ${{ matrix.os }}-x86_energy
      - name: Install x86_energy
        if: steps.cache-x86_energy.outputs.cache-hit != 'true' && matrix.os != 'ubuntu-24.04-arm'
        run: | 
          git clone https://github.com/tud-zih-energy/x86_energy
          cd x86_energy
          cmake . -DCMAKE_INSTALL_PREFIX=/opt/x86_energy
          make -j 2 install
      - name: Run CMake configure
        env:
          CXX: ${{ matrix.compiler }}
        run: cmake . -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DUSE_HW_BREAKPOINT_COMPAT=${{ matrix.hw_breakpoint }} -DLO2S_TESTS_MAY_SKIP=ON -DCMAKE_PREFIX_PATH="/opt/x86_adapt;/opt/x86_energy;/opt/rocm-7.2.0;/opt/radare2"
      - name: Build
        run: make -j 2
      - name: Create source tarball
        if: ${{ matrix.compiler == 'g++-12' && matrix.os == 'ubuntu-24.04' && matrix.build-type == 'RelWithDebInfo' && matrix.hw_breakpoint == 'ON' && github.event_name != 'pull_request'}}
        run: make dist
      - uses: actions/upload-artifact@v4
        if: ${{ matrix.compiler == 'g++-12' && matrix.os == 'ubuntu-24.04' && matrix.build-type == 'RelWithDebInfo' && matrix.hw_breakpoint == 'ON' && github.event_name != 'pull_request'}}
        with:
          overwrite: true
          path: lo2s*.tar.bz2
      - name: Test
        timeout-minutes: 5
        run: sudo PATH="/opt/otf2/bin:$PATH" ctest --output-on-failure
